# Visual Studio cache
.vs/

# Build outputs
Debug/
Release/
x64/
x86/
bin/
obj/
out/
build/

# MSVC intermediate files
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.exe
*.dll
*.lib
*.exp

# User-specific files
*.user
*.suo
*.VC.db
*.VC.VC.opendb

# OS junk
Thumbs.db
.DS_Store

# Keep dependency binaries in repo
!deps/**/freeglut.lib
!deps/**/freeglut.dll

# Videos / recordings
*.mp4
*.mov
*.mkv


*.mp4
!docs/static/video/*.mp4

